#!/usr/bin/env zsh
# Emily's aliases :>

# Variables
zshrc="~/.zshrc"
fishrc="~/.config/fish/config.fish"
nurc="$nu.config-path"
bashrc="~/.bashrc"

aliases_file="~/.aliases"
cfg_alacritty="~/.config/alacritty/alacritty.yml"
cfg_neofetch="~/.config/neofetch/config.conf"
cfg_starship="~/.config/starship.toml"
# cfg_kitty=".config/kitty/kitty.conf"
# cfg_wezterm="~/.config/wezterm/wezterm.lua"

# Configs
alias zshrc="xdg-open $zshrc"
alias fishrc="xdg-open $fishrc"
alias nurc="xdg-open $nurc"
alias bashrc="xdg-open $bashrc"

alias aliases="xdg-open $aliases_file"
alias alacrittycfg="xdg-open $cfg_alacritty"
alias neofetchcfg= "xdg-open $cfg_neofetch"
alias starshipcfg= "xdg-open $cfg_starship"
# alias kittycfg=  "xdg-open $cfg_kitty"
# alias wezcfg=    "xdg-open $cfg_wezterm"



# APT-FAST, PACKAGES
alias update="sudo nala update"
alias upgrade="sudo nala upgrade"
alias aptup="sudo nala update; sudo nala upgrade"
alias aptupd="sudo nala update"
alias aptupg="sudo nala upgrade"
alias install="sudo nala install"
alias reinstall="sudo nala reinstall"
alias remove="sudo nala remove"
alias purge="sudo nala purge"
alias autoremove="sudo nala autoremove"
alias clean="sudo nala clean"

# Navigation
alias cd="cd-list"
alias zd="zd-list"
alias z="zd-list"



# Misc
alias atom="atom --no-sandbox"
editor="atom --no-sandbox"
alias bat="batcat --theme base16"
alias ls="exa --icons --group-directories-first"
alias ll="exa -1"
alias exa="\exa --icons --group-directories-first"
alias py="python3"
# alias fd="fd -IiH"
alias img="eog"
alias chrome="/usr/bin/google-chrome-stable --enable-features=WebUIDarkMode --force-dark-mode %U"
alias modpack="cmpdl"

alias crun="cargo run -q --release"
alias crund="cargo run --release"

alias clipboard="xclip -sel clip"

alias starship-zsh="source <(/usr/local/bin/starship init zsh --print-full-init)"






# Wal
alias walb="wal -q -i $(gsettings get org.gnome.desktop.background picture-uri | cut -d "/" -f3-11 | sed 's/.$//' )"

alias palette="wal --preview -i $(gsettings get org.gnome.desktop.background picture-uri | cut -d "/" -f3-11 | sed 's/.$//' )"

alias abstract="wal -q -i Pictures/Wallpapers/abstract.jpg"
alias dracula="wal -q --theme dracula"

# Git
$ commit () { git commit -m "$@" -a }
$ push () { git push }
$ gp () { git commit -m "$@" -a; push }


# Scripts
set search-exclude="-E ~/.steam -E .local/share/Trash/ -E ./.git"

$ edit () {
  if echo $(which $@) | grep -q "found"
  ;then echo "File \"$@\" not found"
    ;echo "Creating \"$@\""
    ;$EDITOR $@;
  else atom_which=$(which $@)
    ;echo "Opening file in \$PATH"
    ;echo $atom_which
    ;xdg-open $atom_which
  ;fi
unset atom_which}
#
# $ search () {
#   found=$(fd --min-depth 1 $@ | fzf --height 40% --reverse ) || ansic --red "➜ No input"
#   if [ $found ]
#   ;then echo "Opening $found"
#     ;xdg-open $found
#   ;fi
# }
#
# $ search-file () {
#   found=$(fd --min-depth 1 -E ~/.steam -E .local/share/Trash/ -E ./.git --type f $@ | fzf --height 40% --reverse --preview 'batcat --style=numbers --color=always --line-range :500 {}')  || ansic --red "➜ No input"
#   if [ $found ]
#   ;then echo "Opening $found"
#     ;xdg-open $found
#   ;fi
# }
#
$ search-dir () {
  found=$(fd --min-depth 1 --type d $@ | fzf --height 40% --reverse) || ansic --red "➜ No input"
  if [ $found ]
  ;then
    cd $found
  ;fi
}
$ search-dir-all () {
  found=$(fd -a --min-depth 1 -E ~/.steam -E .local/share/Trash/ -E ./.git --type d $@ | fzf --height 40% --reverse) || ansic --red "➜ No input"
  if [ $found ]
  ;then
    cd $found
  ;fi
}










$ which-copy () {
  if echo $(which $@) | grep -q "not found"
  ;then echo "$@ Not found"
else echo $(which $@); echo $(which $@) | xclip -sel clip;fi
}


$ cd-list() {
  if [ -z $1 ]; then
    # echo "0 set"
    if [ -d $1 ] || [ $1 = "-" ]; then   \cd; ls;
  else ansic --red -n "➜ "; ansic --red "No such directory";fi;

  elif [ ! -z $2 ]; then
    # echo "2 set"
    if [ -d $1 ] || [ $1 = "-" ]; then  \cd $1; ls $2;
  else ansic --red -n "➜ "; ansic --red "No such directory";fi;

  else
    # echo "1 set"
    if [ -d $1 ] || [ $1 = "-" ]; then  \cd $1; ls;
  else ansic --red -n "➜ "; ansic --red "No such directory";fi;
  fi
}

$ zd-list() {
  if [ -z $1 ]; then
    # echo "0 set"
    \z; ls;
  elif [ ! -z $2 ]; then
    # echo "2 set"
    \z $1; ls $2;
  else
    # echo "1 set"
    \z $1; ls;
  fi
}
